/* font */
@font-face {
    font-family: Gotham-Bold;
    src: url('../font/Gotham-Bold.otf')  format('opentype');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../font/Gotham-Light.otf')  format('opentype');
}

.dup-font-gotham-light {
    font-family: 'Gotham-Light';
}

.dup-font-gotham-bold {
    font-family: 'Gotham-Bold';
}

/* page-header */
.dup-page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-family: 'Gotham-Bold';
    color: rgb(25,38,38) !important;
}

/* list */
.list-group-item {
    background-color: #ffffff !important;
    color: rgb(30,58,58) !important;
    font-family: 'Gotham-Bold';
}

.dup-active-list-item {
    background-color: rgb(30,58,58) !important;
    color: #ffffff !important;
    font-family: 'Gotham-Bold';
}

.dup-text-center-align {
    text-align: center;
}

.dup-center-title, .dup-center-title-black, .dup-center-title-white {
    font-size: 80px;
    font-family: 'Gotham-Bold';
    text-align: center;
}

.dup-center-title {
    color:#fff;
    padding-top: 300px;
    padding-bottom: 50px;
}

.dup-center-title-black {
    color:#000;
}

.dup-center-title-white {
    color: #fff;
}

.dup-border-line {
    border: 2px solid rgb(30,58,58);
    border-radius: 15px
}

.dup-dark-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    width:150px;
    height: auto;
    font-family: 'Gotham-Bold';
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: rgb(30,58,58);
    color: #fff;
}

.dup-bright-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    width:150px;
    height: auto;
    font-family: 'Gotham-Bold';
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #fff;
    color:  rgb(30,58,58);
}

.dup-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(30,58,58);
    filter: alpha(opacity=98);
    opacity: 0.98;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.col-xs-5p, .col-xs-15p, .col-xs-20p, .col-xs-25p, .col-xs-30p, .col-xs-40p, .col-xs-60p, .col-xs-70p, .col-xs-80p, .col-xs-90p {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-xs-5p {
    width: 5%;
}

.col-xs-15p {
    width: 15%;
}

.col-xs-20p {
    width: 20%;
}

.col-xs-25p {
    width: 25%;
}

.col-xs-30p {
    width: 30%;
}

.col-xs-40p {
    width: 40%;
}

.col-xs-60p {
    width: 10%;
}

.col-xs-70p {
    width: 10%;
}

.col-xs-80p {
    width: 10%;
}

.col-xs-90p {
    width: 90%;
}